<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>


    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- Notification permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- In order to receive the boot completed broadcast-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- To be able to start a foreground service from the background, battery optimisation should be disabled-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenTimeline"
        tools:targetApi="33" >

        <!-- Points to the GM API key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!-- Declare the main activity-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IOActivity"/>
        <activity android:name=".Settings"/>

        <!-- Add the service to the manifest -->
        <service
            android:name=".services.ForegroundLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            />

        <!-- This notifies the device to start a broadcast receiver when the device has booted-->
        <receiver android:name=".services.DeviceBootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>